body {
    margin-top: 30px;
    margin-left: 20px;
    padding: 5px;
    background: #181831;
    color: #737CA1;
    text-color: #737CA1;
    font-family: "Tahoma", "Arial";
}

a {
    color: #b2bf91;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}

a:visited {
    color: #b2bf91;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

li {
    padding-top: 2px;
    padding-bottom: 2px;
}

textarea {
    font-family: "Tahoma", "Arial";
    background: #181831;
    color: white;
    border: 1px solid grey;
    padding: 5px;
}

input[type=text] {
    font-family: "Tahoma", "Arial";
    background: #181831;
    color: white;
    border: 1px solid grey;
    padding: 5px;
}

input[type=password] {
    font-family: "Tahoma", "Arial";
    background: #181831;
    color: white;
    border: 1px solid grey;
    padding: 5px;
}

input[type=submit] {
    background: #98b6de;
    margin-top: 10px;
}

.entry {
    color: white;
}

.logo {
    width: 300px;
    margin-top: 50px;
}

.small {
    font-size: x-small;
}

.list {
    overflow-y: auto;
    max-height: 600px;
}